{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class="header__inline-menu page-width ">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                {%- for childlink in link.links -%}
                  <li>
                    {%- if childlink.links == blank -%}
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </summary>
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="header__submenu list-menu motion-reduce"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>


  <div class="info-detail">
  <a href="tel:919081111299">
    <span class="icon">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.64062 0.666755C8.64062 0.489944 8.71085 0.320374 8.83588 0.19535C8.9609 0.070326 9.13047 8.80826e-05 9.30728 8.80826e-05C11.0748 0.00202915 12.7694 0.705031 14.0192 1.95485C15.269 3.20468 15.972 4.89924 15.9739 6.66676C15.9739 6.84357 15.9037 7.01314 15.7787 7.13816C15.6537 7.26318 15.4841 7.33342 15.3073 7.33342C15.1305 7.33342 14.9609 7.26318 14.8359 7.13816C14.7109 7.01314 14.6406 6.84357 14.6406 6.66676C14.639 5.25275 14.0766 3.89712 13.0768 2.89727C12.0769 1.89742 10.7213 1.33501 9.30728 1.33342C9.13047 1.33342 8.9609 1.26318 8.83588 1.13816C8.71085 1.01314 8.64062 0.843566 8.64062 0.666755ZM9.30728 4.00009C10.0145 4.00009 10.6928 4.28104 11.1929 4.78114C11.693 5.28123 11.9739 5.95951 11.9739 6.66676C11.9739 6.84357 12.0442 7.01314 12.1692 7.13816C12.2942 7.26318 12.4638 7.33342 12.6406 7.33342C12.8174 7.33342 12.987 7.26318 13.112 7.13816C13.237 7.01314 13.3073 6.84357 13.3073 6.66676C13.3062 5.60621 12.8845 4.58941 12.1345 3.8395C11.3846 3.08958 10.3678 2.66781 9.30728 2.66675C9.13047 2.66675 8.9609 2.73699 8.83588 2.86202C8.71085 2.98704 8.64062 3.15661 8.64062 3.33342C8.64062 3.51023 8.71085 3.6798 8.83588 3.80483C8.9609 3.92985 9.13047 4.00009 9.30728 4.00009ZM15.3693 11.1594C15.7556 11.5468 15.9726 12.0716 15.9726 12.6188C15.9726 13.1659 15.7556 13.6907 15.3693 14.0781L14.7626 14.7774C9.30262 20.0048 -3.98405 6.72142 1.16262 1.24409L1.92928 0.577421C2.31713 0.201873 2.83724 -0.0058792 3.37708 -0.000888689C3.91693 0.00410182 4.43311 0.221434 4.81395 0.604088C4.83462 0.624755 6.06995 2.22942 6.06995 2.22942C6.4365 2.61451 6.64055 3.12604 6.63968 3.65769C6.63881 4.18934 6.43309 4.7002 6.06528 5.08409L5.29328 6.05476C5.72051 7.09283 6.34866 8.03625 7.14162 8.83082C7.93459 9.62538 8.87674 10.2554 9.91395 10.6848L10.8906 9.90809C11.2746 9.54056 11.7853 9.33508 12.3168 9.33434C12.8483 9.3336 13.3596 9.53764 13.7446 9.90409C13.7446 9.90409 15.3486 11.1388 15.3693 11.1594ZM14.4519 12.1288C14.4519 12.1288 12.8566 10.9014 12.8359 10.8808C12.6986 10.7446 12.513 10.6682 12.3196 10.6682C12.1262 10.6682 11.9406 10.7446 11.8033 10.8808C11.7853 10.8994 10.4406 11.9708 10.4406 11.9708C10.35 12.0429 10.2422 12.0902 10.1277 12.1079C10.0133 12.1257 9.89617 12.1133 9.78795 12.0721C8.44426 11.5718 7.22377 10.7886 6.20917 9.77547C5.19457 8.76237 4.40955 7.54304 3.90728 6.20009C3.86275 6.09039 3.84823 5.97081 3.86522 5.85365C3.88221 5.73648 3.93009 5.62595 4.00395 5.53342C4.00395 5.53342 5.07528 4.18809 5.09328 4.17075C5.22946 4.03341 5.30587 3.84783 5.30587 3.65442C5.30587 3.46101 5.22946 3.27543 5.09328 3.13809C5.07262 3.11809 3.84528 1.52142 3.84528 1.52142C3.70588 1.39643 3.52395 1.32949 3.33678 1.33432C3.14961 1.33915 2.97138 1.4154 2.83862 1.54742L2.07195 2.21409C-1.68938 6.73675 9.82462 17.6121 13.7879 13.8668L14.3953 13.1668C14.5376 13.0349 14.6231 12.8529 14.6337 12.6592C14.6442 12.4655 14.5791 12.2753 14.4519 12.1288Z" fill="#333333"/>
      </svg>
    </span>
    <span class="icon-text">
    (+91) 90811 11299
    </span>
  </a>

    <a href="mailto:info@molimor.co">
    <span class="icon">
      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.6667 0H3.33333C2.4496 0.00105857 1.60237 0.352588 0.97748 0.97748C0.352588 1.60237 0.00105857 2.4496 0 3.33333L0 11.3333C0.00105857 12.2171 0.352588 13.0643 0.97748 13.6892C1.60237 14.3141 2.4496 14.6656 3.33333 14.6667H12.6667C13.5504 14.6656 14.3976 14.3141 15.0225 13.6892C15.6474 13.0643 15.9989 12.2171 16 11.3333V3.33333C15.9989 2.4496 15.6474 1.60237 15.0225 0.97748C14.3976 0.352588 13.5504 0.00105857 12.6667 0ZM3.33333 1.33333H12.6667C13.0659 1.33412 13.4557 1.45434 13.786 1.67854C14.1163 1.90273 14.3719 2.22063 14.52 2.59133L9.41467 7.69733C9.03895 8.07154 8.53028 8.28165 8 8.28165C7.46972 8.28165 6.96105 8.07154 6.58533 7.69733L1.48 2.59133C1.6281 2.22063 1.88374 1.90273 2.21403 1.67854C2.54432 1.45434 2.93414 1.33412 3.33333 1.33333ZM12.6667 13.3333H3.33333C2.8029 13.3333 2.29419 13.1226 1.91912 12.7475C1.54405 12.3725 1.33333 11.8638 1.33333 11.3333V4.33333L5.64267 8.64C6.26842 9.26417 7.11617 9.61469 8 9.61469C8.88383 9.61469 9.73158 9.26417 10.3573 8.64L14.6667 4.33333V11.3333C14.6667 11.8638 14.456 12.3725 14.0809 12.7475C13.7058 13.1226 13.1971 13.3333 12.6667 13.3333Z" fill="#333333"/>
      </svg>
    </span>
    <span class="icon-text">
    Info@molimor.co
    </span>
  </a>
  </div>
</nav>
